* {
    box-sizing: border-box;
    background-color: #fef8f8;
    margin:0;
    padding:0;
  }
  
  html { 
  scroll-behavior: smooth;
  }
  
  .link{
    display: var(--rLinkDisplay, inline-flex) !important;
  }
  
  .link[href]{
    color: var(--rLinkColor) !important;
    text-decoration: var(--rLinkTextDecoration, none) !important;
  }
  
  .list{
    padding-left: var(--rLisrPaddingLeft, 0) !important;
    margin-top: var(--rListMarginTop, 0) !important;
    margin-bottom: var(--rListMarginBottom, 0) !important;
    list-style: var(--rListListStyle, none) !important;
  }
  
  .menu{
    --rLinkColor: var(--menuLinkColor, currentColor);
  }
  
  .navbarlink{
    display: var(--menuLinkDisplay, block);
  }
  
  .navbarlink:focus{
    outline: var(--menuLinkOutlineWidth, 2px) solid var(--menuLinkOutlineColor, currentColor);
    outline-offset: var(--menuLinkOutlineOffset);
  }
  
  .menu:hover .navbarlink:not(:hover){
    --rLinkColor: var(--menuLinkColorUnactive, #f194a3);
  }
  
  .menu{
    background-color: var(--menuBackgroundColor, #fffefe);
    box-shadow: var(--menuBoxShadow, 0 1px 3px 0 #f194a3, 0 1px 2px 0 #fedad3);
  }
  
  .navlist{
    display: flex; 
    
  }
  
  .navbarlink{
    padding: var(--menuLinkPadding, 1.5rem 2.5rem);
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .text-underlined{
    position: relative;
    overflow: hidden;
  
    will-change: color;
    transition: color .25s ease-out;  
  }
  
  .text-underlined::before, 
  .text-underlined::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--textUnderlinedLineColor, currentColor);
  
    will-change: width;
    transition: width .1s ease-out;
  
    position: absolute;
    bottom: 0;
  }
  
  .text-underlined::before{
    left: 50%;
    transform: translateX(-50%); 
  }
  
  .text-underlined::after{
    right: 50%;
    transform: translateX(50%); 
  }
  
  .text-underlined:hover::before, 
  .text-underlined:hover::after{
    width: 100%;
    transition-duration: .2s;
  }
    
  body{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;  
    flex-direction: column;
  }
  
  .navbar{
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    scroll-behavior: smooth;
    
  }
  
  .pagemenu:nth-child(n+2){
    margin-top: 3rem;
  }
  
  .link{
      --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
      --uirLinkTextColor: var(--rLinkTextColor);
      --uirLinkTextDecoration: var(--rLinkTextDecoration, none);
  
      display: var(--uirLinkDisplay) !important;
      color: var(--uirLinkTextColor) !important;
      text-decoration: var(--uirLinkTextDecoration) !important;
  }
  
  .logo-image{
    float: left;
  
  }
  
  .img-fluid{
    width: 70px;
    height: 70px;
    border-radius: 90%;
    /* overflow: hidden;
    margin-top: -6px; */
  }
  
  .containers {
    min-height: 500px;
    padding: 5%;
  }
  
  .containers h3 { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #fc848c;
    /* border-bottom: 1px solid #f194a3;
    width: 8%;
    margin: 0 auto;
     */
  }
  
  .containers h3:hover { 
    cursor: pointer;
  }
  
  .textcake h3{
    color: #f194a3;
      font-family: emoji;
      text-align: center;
      font-size: xx-large
  }
  
 
  
  #login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  #login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }
  
  #error-msg-second-line {
    display: block;
  }
  
  #login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  .login-form-field::placeholder {
    color: #3a3a3a;
  }
  
  .login-form-field {
    border: none;
    border-bottom: 1px solid #f194a3;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
    width: 200px;
  }
  
  #login-form-submit {
    width: 200px;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #f194a3;
    cursor: pointer;
    outline: none;
  }
  
  #naccount{
    font-size: xx-small;
    color:#3a3a3a;
  }
  