* {
    box-sizing: border-box;
    background-color: #fef8f8;
    margin:0;
    padding:0;
  }
  
  html { 
  scroll-behavior: smooth;
  }
  
  .link{
    display: var(--rLinkDisplay, inline-flex) !important;
  }
  
  .link[href]{
    color: var(--rLinkColor) !important;
    text-decoration: var(--rLinkTextDecoration, none) !important;
  }
  
  .list{
    padding-left: var(--rLisrPaddingLeft, 0) !important;
    margin-top: var(--rListMarginTop, 0) !important;
    margin-bottom: var(--rListMarginBottom, 0) !important;
    list-style: var(--rListListStyle, none) !important;
  }
  
  .menu{
    --rLinkColor: var(--menuLinkColor, currentColor);
  }
  
  .navbarlink{
    display: var(--menuLinkDisplay, block);
  }
  
  .navbarlink:focus{
    outline: var(--menuLinkOutlineWidth, 2px) solid var(--menuLinkOutlineColor, currentColor);
    outline-offset: var(--menuLinkOutlineOffset);
  }
  
  .menu:hover .navbarlink:not(:hover){
    --rLinkColor: var(--menuLinkColorUnactive, #f194a3);
  }
  
  .menu{
    background-color: var(--menuBackgroundColor, #fffefe);
    box-shadow: var(--menuBoxShadow, 0 1px 3px 0 #f194a3, 0 1px 2px 0 #fedad3);
  }
  
  .navlist{
    display: flex; 
    
  }
  
  .navbarlink{
    padding: var(--menuLinkPadding, 1.5rem 2.5rem);
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .text-underlined{
    position: relative;
    overflow: hidden;
  
    will-change: color;
    transition: color .25s ease-out;  
  }
  
  .text-underlined::before, 
  .text-underlined::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--textUnderlinedLineColor, currentColor);
  
    will-change: width;
    transition: width .1s ease-out;
  
    position: absolute;
    bottom: 0;
  }
  
  .text-underlined::before{
    left: 50%;
    transform: translateX(-50%); 
  }
  
  .text-underlined::after{
    right: 50%;
    transform: translateX(50%); 
  }
  
  .text-underlined:hover::before, 
  .text-underlined:hover::after{
    width: 100%;
    transition-duration: .2s;
  }
    
  body{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;  
    flex-direction: column;
  }
  
  .navbar{
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    scroll-behavior: smooth;
    
  }
  
  .pagemenu:nth-child(n+2){
    margin-top: 3rem;
  }
  
  .link{
      --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
      --uirLinkTextColor: var(--rLinkTextColor);
      --uirLinkTextDecoration: var(--rLinkTextDecoration, none);
  
      display: var(--uirLinkDisplay) !important;
      color: var(--uirLinkTextColor) !important;
      text-decoration: var(--uirLinkTextDecoration) !important;
  }
  
  .logo-image{
    float: left;
  
  }
  
  .img-fluid{
    width: 70px;
    height: 70px;
    border-radius: 90%;
    /* overflow: hidden;
    margin-top: -6px; */
  }
  
  .recipes{
    font-size: 3rem;
    color: #333;
    margin-top: 0.313rem;
    text-align: center;
    font-family: "Frank Ruhl Libre",Georgia,serif;
    
  }
  
  #desc{
    text-align: center;
    color:#2f2f2f;
    font-size: 1rem;
  }

  .contatiner1-child .textcake { 
    width: 70%;
    margin: 0 auto;
    height: 30%;
  
  }
  
  .contatiner1-child .boxescake {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    min-height: 70%;
  }
  
  .contatiner1-child .textcake .boxescake .cakes-boxes {
      background-color: #fef8f85c;
      border: 1px solid #fc848c;
      font-size: 30px;
      text-align: center;
     
  }

  .recipeimg {
    width:75%;
    height:75%;
    max-height: 400px;
    max-width: 400px;
    min-width: 100%;
  }

  h4 {
    font-family: "Frank Ruhl Libre",Georgia,serif;
    font-size: large;
  }